/.-----------CSS---------./

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#hub{
    background: #363636;
    font-size: 13px;
    font-weight: bold;
    width: auto;
    padding: 20px;
    margin: 5px;
    font-family: "American Typewriter";
    border: solid 2px black;
    border-radius: 10px;
}

#subhub{
    background: #363636;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    padding: 20px;
    margin: 5px;
    font-family: "American Typewriter";
    border: solid 2px black;
    border-radius: 10px;
}

.botoes{
    background: #4F4F4F;
    font-size: 11px;
    font-weight: bold;
    color: white;
    width: auto;
    padding: 13px;
    margin: 5px;
    font-family: "Arial Black";
    border: solid 2px black;
    border-radius: 10px;
}


.botoes:hover{
    background: black;
}
#botao:hover{
    background: red;
}
.botoesenvia{
    background: white;
    font-size: 11px;
    font-weight: bold;
    color: #1C1C1C;
    width: auto;
    padding: 15px;
    font-family: "Arial Black";
    border: solid 2px black;
    border-radius: 10px;
}
#jhonny{
    background: #4F4F4F;
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: auto;
    padding: 15px;
    margin: 8%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "American Typewriter";
    border: solid 2px black;
    border-radius: 10px;
}
#gui{
    background: #4F4F4F;
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: auto;
    padding: 20px;
    margin: 8%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "American Typewriter";
    border: solid 2px black;
    border-radius: 10px;
}

#vitin{
    background: #4F4F4F;
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: auto;
    padding: 20px;
    margin: 8%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "American Typewriter";
    border: solid 2px black;
    border-radius: 10px;
}

#sobre{
    color:white;
    padding: 8%;
}
#Projeto{
    color:white;
    padding: 8%;
}
#Desenvolvedores{
    color:white;
    padding: 5%;
}
#sobre:hover {
    color: black;
}
#Projeto:hover {
    color: black;
}
#Desenvolvedores:hover {
    color: black;
}
#textosobre{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 25px;
    font-size: large;
    font-family: "American Typewriter";
}

